<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="builder_interface_command" xsi:type="object">ADM\DevBuilder\Console\Command\Api\Data\InterfaceCommand</item>
                <item name="builder_schema_command" xsi:type="object">ADM\DevBuilder\Console\Command\Setup\SchemaCommand</item>
            </argument>
        </arguments>
    </type>
</config>